.login_container {
  /* background-image: url("../../IMG/3099609.jpg"); */
  background-color: rgb(80, 57, 57);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.login_box {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 60px;
}
.login_img_box {
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login_form_box {
  margin-top: 40px;

  width: 100%;
}
.login_form_box > form {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.login_form_box > form input {
  color: var(--text-color-1);
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--white-color);

  line-height: normal;
}

/* Style the input element on focus */
.login_form_box > form input:focus {
  border: 1px solid var(--btn-color-1); /* Change border color on focus */
  outline: none; /* Remove default focus outline (optional) */
}

/* Style the placeholder text */
.login_form_box > form input::placeholder {
  color: var(--text-color-1); /* Set the placeholder text color */
}
.login_form_box > form > button:hover {
  background-color: var(--text-color-1);
}
.login_form_btn {
  width: 100%;
}
.login_form_btn > button {
  background-color: var(--btn-color-1);
  color: var(--white-color);
  border-radius: 10px;
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  padding: 10px 15px;
  line-height: normal;
  border: none;
  margin-top: 30px;
}

.input_group {
  position: relative;
}
.input_group_password_icon {
  position: absolute;
  right: 10px;
  top: 50%; /* Center the icon vertically */
  transform: translateY(-50%);
  text-decoration: none;
}
/* media queries for mobile screen */

@media screen and (min-width: 270px) and (max-width: 480px) {
  .login_box {
    width: 100%;
  }
  .login_container {
    width: 100%;
    /* padding: 10px; */
  }
  .login_form_box > form > input {
    font-size: 15px;
  }
}

@media screen and (min-width: 480px) and (max-width: 867px) {
  .login_box {
    width: 95%;
  }
  .login_container {
    width: 100%;
  }
  .login_form_box > form > input {
    font-size: 15px;
  }
}
